.Decoder {
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
}
.DecoderTextArea {
    display: flex;
    margin-bottom: 20px;
}
label {
    width: 30%;
    text-align: left;
}
textarea {
    width: 70%;
}
input {
    width: 40%;
    margin-right: 10px;
}
button {
    background: transparent;
    border: none;
    margin-right: 10px;
}
.EncodeMessage {
    width: 30px;
    height: 30px;
    background: url(../../assets/images/arrow-pointing-down.svg) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}
.DecodeMessage {
    width: 30px;
    height: 30px;
    background: url(../../assets/images/arrow-up.svg) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}